<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>

    <div class="container text-center">
        <h1>가위바위보 게임</h1>

        {% if data %}
        <div class="mb-3">인간이 알파고 상대로 <span class="text-danger">{{ data.msg }}</span></div>
        {% endif %}

        <div id="computer mb-3 " class="computer mb-3">
            {% if data %}
            <img src="{{ url_for('static', filename=data.bot + '.png') }}">
            {% endif %}
        </div>

        <div class="mb-3">
            <form action="" method="post" id="formrsp">
                <input type="button" class="btn {% if data.guest == " 가위" %} btn-primary {% else %} btn-outline-primary
                    {% endif %}" name="guest" value="가위" onclick="submitForm(this.value)">
                <input type="button" class="btn {% if data.guest == " 바위" %} btn-primary {% else %} btn-outline-primary
                    {% endif %}" name="guest" value="바위" onclick="submitForm(this.value)">
                <input type="button" class="btn {% if data.guest == " 보" %} btn-primary {% else %} btn-outline-primary
                    {% endif %}" name="guest" value="보" onclick="submitForm(this.value)">

            </form>
        </div>
        <div>
            <form action="{{url_for('home')}}" class="btn-toolbar justify-content-around" method="post">
                <input id="reset" class="btn btn-outline-secondary" type="submit" name="guest" value="reset">
            </form>
        </div>

        <div class="mb-3">
            플레이 횟수 = {{ data.total }} 게임
        </div>

        <h3> 결과 통계 </h3>
        <div class="result-container">
            <div class="result-box">승: {{report.win}}</div>
            <div class="result-box">패: {{report.lost}}</div>
            <div class="result-box">무: {{report.same}}</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
            </script>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">컴퓨터</th>
                    <th scope="col">사용자</th>
                    <th scope="col">결과</th>
                </tr>
            </thead>
            <tbody>
                {% for history in historys %}
                <tr>
                    <th scope="row">{{ history.id }}</th>
                    <td>{{ history.com }}</td>
                    <td>{{ history.user }}</td>
                    <td>{{ history.result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        function submitForm(value) {
            var form = document.getElementById('formrsp');

            // Create a new input element and set its attributes
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'guest'; // 'guest' is the name of the input field in your form
            input.value = value; // value is the value that you want to send to your server

            form.appendChild(input);
            form.submit();
        }
    </script>

</body>

</html>