<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* html,
        body {
            margin: 0;
            height: 100%;
            overflow: hidden;
        } */

        #sissors {
            background-image: url('../static/가위.png');
            height: 200px;
            width: 200px;
        }

        #rock {
            background-image: url('../static/바위.png');
            height: 200px;
            width: 200px;
        }

        #paper {
            background-image: url('../static/보.png');
            height: 200px;
            width: 200px;
        }
    </style>

    <!-- Bootstrap CDN : CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>

    <!-- <h1>가위바위보 게임</h1> -->
    <div class="container d-flex align-items-center">
        <div class="card text-center d-flex w-100">
            <div class="card-header">
                얼레벌레조의 가위바위보 게임
            </div>
            <div class="card-body align-items-center">
                <h5>무엇을 선택하시겠습니까?</h5>
                <form action="{{url_for('home')}}" class="btn-toolbar justify-content-around" method="GET">
                    <!-- <input class="btn btn-outline-secondary" type="image" src="../static/가위.png" alt="이미지 없을 때 대체 텍스트" name="가위" value="가위" width="75px"> -->
                    <input id="sissors" class="btn btn-outline-secondary" type="submit" name="userchoice" value="가위"
                        width="75px">
                    <input id="rock" class="btn btn-outline-secondary" type="submit" name="userchoice" value="바위"
                        width="75px">
                    <input id="paper" class="btn btn-outline-secondary" type="submit" name="userchoice" value="보"
                        width="75px">
                </form>
            </div>

            {% if data %}
                    <p>컴퓨터의 선택은 "{{data.computer}}" 였습니다.</p>
            {% endif %}
            


            <div>
                {% if data %}
                <div> 가위바위보 결과 >>>>>{{ data.result }}<<<<< 입니다!!</div>
                        {% endif %}
                </div>
                <br>
                <form action="{{url_for('home')}}" class="btn-toolbar justify-content-around" method="GET">
                    <input id="reset" class="btn btn-outline-secondary" type="submit" name="userchoice" value="reset">
                </form>

            </div>
        </div>
    </div>
    <br>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">컴퓨터</th>
                    <th scope="col">사용자</th>
                    <th scope="col">결과</th>
                </tr>
            </thead>
            <tbody>

                {% for element in data.record_list %}
                <tr>
                    <td scope="row">{{ element.id }}</td>
                    <td>{{ element.com }}</td>
                    <td>{{ element.user }}</td>
                    <td>{{ element.result }}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>









    <!-- Bootstrap CDN : JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
</body>

</html>